:root {
    --background-color: #acdae2;
    --main-emphasis-color: #ff8892;
    --main-font-color: #6d4b25;
    --list-background: #f3eed8;
    --list-foreground: #f1e7cc;
    --stand-out: #d3c59e;
  }

*{
    box-sizing: border-box;
}



@font-face {
    font-family: 'Arial Rounded Bold';
    src: url('/arial-rounded-mt-bold-grassetto.otf');
}

h1, h2, h3, h4, p, button, li, span, input{
    letter-spacing: 1px;
    color: var(--main-font-color);
    font-family: 'Arial Rounded Bold', Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background-color);
    padding: 0 .25rem;
    margin: auto;
}

header{
    background-image: url('./animalcrossing.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 128px;
}

.container{

}

h2{
    text-align: center;
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.2rem;
    margin: 0;
}


table{
    margin: auto;
    padding: 0.2rem 0.2rem;
    border-radius: 7px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 .5rem;
}

.creature-row{
    width: 100%;
    background-color: var(--list-background);
}

.creature-data{
    vertical-align: middle;
    box-shadow: 2px 3px 0 var(--stand-out);
    background-color: var(--list-foreground);
    color: #3f3f3f;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.creature-data td:first-of-type{
    width: 100%;
}



.add-to-pocket-slot{
    display: inline-block;
    text-align: right;
    padding: 1rem;
}


.headline-details{
    width: 100%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headline-details td:first-of-type{
    display: flex;
    align-items: center;
}

.headline-details td img{
    margin-right: 1rem;
    width: 64px;
    height: auto;
    border: 2px var(--stand-out) solid;
    box-shadow: 0px 0px 5px var(--stand-out) inset;
    border-radius: 5px;
    background-color: #e0d7ac;
}

.headline-details td{
    width: 33.3333%;
    text-align: center;
}

.headline-details td:first-of-type{
    width: 33.3333%;
    text-align: left;
}

.headline-details td:last-of-type{
    text-align: right;
    width: 33.3333%;
}

.creature-details{
    background-color: var(--list-background);
    box-shadow: 0px 0px 2px var(--stand-out) inset;
    padding: .3rem;
    border-radius: 7px;
    width: 100%;
    opacity: 1;
    margin: 1rem 0 0 0;
    transition: .1s;
    font-size: 1rem;
    display: block;
}

.creature-details p{
    margin: 0.2rem;
    font-size: .8rem;
}

h3{
    padding: 0;
    margin: 0;
}

.button-data{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    text-align: left;
    padding: 1rem;
    width: 100%;
}

.searchForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchForm input{
    font-size: 1.5rem;
    padding: 0.45rem;
    border-radius: 5px;
    border: none;
    background-color: var(--list-background);
    color: #3f3f3f;
    margin-right: .4rem;
    height: 50px;
    min-width: 30%;
    flex-grow: 2;
}

input[type=text]:focus{
    box-shadow : 0px 0px 0px 4px var(--main-emphasis-color);
    transition: all .1s; 

}

.creature-data button:focus creature-data{
    box-shadow : 0px 0px 0px 4px var(--main-emphasis-color);
    transition: all .1s;    
}

.creature-data:hover{
    box-shadow : 0px 0px 2px 4px var(--main-emphasis-color);
    transition: all .1s;
}

.creature-data:focus {
    box-shadow : 0px 0px 2px 4px var(--main-emphasis-color);
    transition: all .1s;                
}

.hide-me{
    display: none;
    opacity: 0;
}

.kofi{
    position: absolute;
    top: 7px;
    right: 10px;
    width: 50px;
    padding: .3rem .3rem;
    background-color: #2d94da;
    border: none;
    border-radius: 7px;
}

.kofi:focus{
    box-shadow : 0px 0px 2px 4px var(--main-emphasis-color);
    transition: all .1s;
    outline: none;   
}

.kofi img{
    width: 100%;
}

.search-menu{
    display: flex;
    justify-content: center;
    padding: 0;
    
}

.search-area{
    margin: 0.5rem 0;
}

.search-area div{
    margin: 0.5rem 0;
}

.filter-expand-button{
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--list-background);
    cursor: pointer;
    height: 50px;
    text-align: center;
    
}
  

.filter-expand-button:focus {
    box-shadow: 0 0 2px 4px var(--main-emphasis-color);
    border-radius: 7px;
}

.filter-expand-button:hover {
    box-shadow: 0 0 2px 4px var(--main-emphasis-color);
    border-radius: 7px;
}

.filter-buttons{
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}

.filter-buttons div button{
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--list-background);
    height: 50px;
    margin: .2rem .2rem;                        
}       

.filter-buttons button:hover{
    box-shadow : 0px 0px 0px 4px var(--main-emphasis-color);

}

.filter-buttons button:focus{
    box-shadow : 0px 0px 0px 4px var(--main-emphasis-color);

}

footer{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100%;
    color: white;
    display: flex;
    height: 115px;
}

footer span, footer p{
    color: white;
}

header span, header p{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.bigClock{
    background-color: #1182c32f;
    border-radius: 20px;
    padding: 0.5rem;
}

main{
    width: 100%;
}

.clock{
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 3.2rem;
    color: white;
    border-bottom: white 3px solid;
}

.meridian{
    font-size: 1.5rem;
    color: white;
}

.day{
    color: var(--background-color);;
    background-color: white;
    border-radius: 15px; 
    padding: 6px 6px 4px 6px;
    margin-left: 10px;
    text-align: center;
    
}

.monthAndDate{
    font-size: 1rem;
    margin: 0;
}

.addToPocket{
    width: 35px;
    height: 35px;
    font-size: 2.2rem;
    border-radius: 10px;
    border: none;
    background-color: #3277b8; 
    color: #fff;
}

.list-top{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myPocket{
    width: 50%;
    background-color: var(--list-foreground);
    box-shadow: 2px 3px 0 var(--stand-out);
    border-radius: 15px;
    padding: .5rem;
    margin: 0;
}

.myPocket{
    margin: auto;
}

.pocketContents{
    display: flex;
    flex-wrap: wrap;
}

.pocketIcons{
    width: 40px;
    position: relative;
    bottom: 80%;
    right: 60%;
}

.itemSlot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pocket-button{
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #3277b8;
    cursor: pointer;
    height: 50px;
    text-align: center;
    color: white;
}

#pocket-table{
    border-spacing: 20px;
    width: 100%;
}

.pocket-row{
    width: 100%;
}

.pocket-slot{
    width: 50px;
    height: 50px;
}

.pocket-slot-empty{
    background: #ac7b4279;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    position: relative;
    top: 0%;
    left: 28%;
}


.list-top input[type=checkbox]{
    display: none;
}

.list-top input[type=checkbox] + .availability-filter-label{
    cursor: pointer;
    display: inline-block;
    border: 2px var(--stand-out) solid;
    border-radius: 5px;
    padding: 0 0 0 0px;
    background:url('/icons/FtrClockBell_Remake_0_0.png') no-repeat;
    background-size: contain;
    height: 64px;
    width: 64px;

}

.list-top input[type=checkbox]:checked + .availability-filter-label{
    display: inline-block;
    border: 2px var(--main-emphasis-color) solid;
    box-shadow: 0px 0px 3px var(--main-emphasis-color) inset, 0px 0px 5px var(--main-emphasis-color) ;
    background-size: 95%;
    background-position: center;
}

.availability{
    font-size: 1rem;
}

.item-count{
    z-index: 100;
    position: relative;
    top: -180%;
    right: -90%;
    /* background-color: rgb(253, 238, 104); */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}