:root {
    --background-color: #acdae2;
    --main-emphasis-color: #ff8892;
    --main-font-color: #6d4b25;
    --list-background: #f3eed8;
    --list-foreground: #f1e7cc;
    --stand-out: #d3c59e;
  }

*{
    box-sizing: border-box;
}



@font-face {
    font-family: 'Arial Rounded Bold';
    src: url('/arial-rounded-mt-bold-grassetto.otf');
}

h1, h2, h3, h4, p, button, li, span, input{
    letter-spacing: 1px;
    color: var(--main-font-color);
    font-family: 'Arial Rounded Bold', Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background-color);
    padding: 0 .25rem;
    margin: auto;
}

header{
    background-image: url('./animalcrossing.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 128px;
}

.container{

}

h2{
    text-align: center;
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.2rem;
    margin: 0;
}

ul{
    margin: auto;
    background-color: var(--list-background);
    padding: 0.2rem 0.2rem;
    border-radius: 7px;
}


.creature-data{
    list-style: none;
    background-color: var(--list-foreground);
    box-shadow: 2px 3px 0 var(--stand-out);
    color: #3f3f3f;
    border-radius: 7px;
    transition: margin .2s;
    margin: 0.5rem 0;
}

.headline-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creature-details{
    background-color: var(--list-background);
    padding: .3rem;
    border-radius: 7px;
    width: 100%;
    opacity: 1;
    margin-bottom: 0;
    transition: .1s;
    font-size: 1rem;
    display: block;
}

.creature-details p{
    margin: 0.2rem;
    font-size: .8rem;
}

h3{
    padding: 0;
    margin: 0;
}

.button-data{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    padding: 1rem 0.5rem;
}

.searchForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchForm input{
    font-size: 1.5rem;
    padding: 0.45rem;
    border-radius: 5px;
    border: none;
    background-color: var(--list-background);
    color: #3f3f3f;
    margin-right: .4rem;
    height: 50px;
    min-width: 30%;
    flex-grow: 2;
}

input[type=text]:focus{
    box-shadow : 0px 0px 0px 4px var(--main-emphasis-color);
    transition: all .1s; 

}

.creature-data button:focus creature-data{
    box-shadow : 0px 0px 0px 4px var(--main-emphasis-color);
    transition: all .1s;    
}

.creature-data:hover{
    box-shadow : 0px 0px 2px 4px var(--main-emphasis-color);
    transition: all .1s;
}

.creature-data:focus {
    box-shadow : 0px 0px 2px 4px var(--main-emphasis-color);
    transition: all .1s;                
}

.hide-me{
    display: none;
    opacity: 0;
}

.kofi{
    position: absolute;
    top: 7px;
    right: 10px;
    width: 50px;
    padding: .3rem .3rem;
    background-color: #2d94da;
    border: none;
    border-radius: 7px;
}

.kofi:focus{
    box-shadow : 0px 0px 2px 4px var(--main-emphasis-color);
    transition: all .1s;
    outline: none;   
}

.kofi img{
    width: 100%;
}

.search-menu{
    display: flex;
    justify-content: center;
    padding: 0;
    
}

.search-area{
    margin: 0.5rem 0;
}

.search-area div{
    margin: 0.5rem 0;
}

.filter-expand-button{
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--list-background);
    cursor: pointer;
    height: 50px;
    text-align: center;
    
}
  

.filter-expand-button:focus {
    box-shadow: 0 0 2px 4px var(--main-emphasis-color);
    border-radius: 7px;
}

.filter-expand-button:hover {
    box-shadow: 0 0 2px 4px var(--main-emphasis-color);
    border-radius: 7px;
}

.filter-buttons{
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}

.filter-buttons div button{
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--list-background);
    height: 50px;
    margin: .2rem .2rem;                        
}       

.filter-buttons button:hover{
    box-shadow : 0px 0px 0px 4px var(--main-emphasis-color);

}

.filter-buttons button:focus{
    box-shadow : 0px 0px 0px 4px var(--main-emphasis-color);

}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1183c3;
    color: white;
    padding: 1rem;
    display: flex;
    height: 130px;
}

footer span, footer p{
    color: white;
}

header span, header p{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.bigClock{
    
}

main{
    width: 100%;

}

.clock{
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 3.6rem;
    color: white;
    border-bottom: white 3px solid;
}

.meridian{
    font-size: 1.5rem;
    color: white;
}

.day{
    color: #1183c3;
    background-color: white;
    border-radius: 15px; 
    padding: 6px 6px 4px 6px;
    margin-left: 10px;
    text-align: center;
    
}

.monthAndDate{
    font-size: 1rem;
    margin: 0;
}